.member-name,
.artisits{
    color: var(--color-two);
    text-shadow: 2px 2px 5px var(--color-one);
}

.band-member-border{
    border-bottom: solid 1px var(--color-five);
}

.band-member-small:not(:last-child){
    border-bottom: solid 1px var(--color-five);
}

.member-pic{
    border-radius: 5px;
    border: double 3px var(--color-two);
    filter: grayscale(.25);
}
