.testimonial,
.testimonial-name{
    color: var(--color-two);
    text-shadow: 2px 2px 5px var(--color-one);
}

.testimonial-container:not(:last-child) { 
    border-bottom: solid 1px var(--color-five);
}